name: Test Suite
on:
  pull_request:
  push:
    branches:
      - main
      - 'renovate/*'
jobs:
  test:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    services:
      mysql:
        image: ${{ matrix.env.DB == 'mysql8' && 'mysql:8.0' || '' }}
        env:
          MYSQL_DATABASE: km_testing
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: >-
          --tmpfs /var/lib/mysql
          --health-cmd "mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=12
    strategy:
      matrix:
        node: [ '18.12.1', '20.11.1', '22.13.1' ]
        env:
          - DB: sqlite3
            NODE_ENV: testing
          - DB: mysql8
            NODE_ENV: testing-mysql
    env:
      DB: ${{ matrix.env.DB }}
      NODE_ENV: ${{ matrix.env.NODE_ENV }}
      database__connection__password: root
    name: Node ${{ matrix.node }} - ${{ matrix.env.DB }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Set env vars (MySQL)
        if: contains(matrix.env.DB, 'mysql')
        run: |
          echo "database__connection__host=127.0.0.1" >> $GITHUB_ENV
          echo "database__connection__port=${{ job.services.mysql.ports['3306'] }}" >> $GITHUB_ENV

      - run: yarn
      - run: yarn test
